@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 225 40% 98.04%;
    --foreground: 217 80% 4%;
    --muted: 216.92 31.71% 91.96%;
    --muted-foreground: 217 9% 32%;
    --popover: 217 36% 98%;
    --popover-foreground: 217 80% 3%;
    --card: 217 0% 100%;
    --card-foreground: 217 80% 3%;
    --border: 217 3% 90%;
    --input: 217 3% 90%;
    --primary: 218.29 85.37% 44.12%;
    --primary-foreground: 217 0% 100%;
    --secondary: 216.92 31.71% 83.92%;
    --secondary-foreground: 217 2% 27%;
    --accent: 229.05 56.25% 43.92%;
    --accent-foreground: 217 0% 100%;
    --destructive: 357.16 73.92% 44.92%;
    --destructive-foreground: 0 0% 100%;
    --ring: 217 87% 15%;
    --chart-1: 217 87% 15%;
    --chart-2: 173.38 75.13% 37.84%;
    --chart-3: 226.9 37.66% 54.71%;
    --chart-4: 172.71 74.83% 28.04%;
    --chart-5: 217 90% 15%;
    --radius: 0.75rem;

    /* Aurora effect variables */
    --white: white;
    --black: black;
    --transparent: transparent;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --indigo-300: #a5b4fc;
    --violet-200: #ddd6fe;
  }
  .dark {
    --background: 217 39% 3%;
    --foreground: 217 19% 100%;
    --muted: 214 80% 12%;
    --muted-foreground: 217 8.09% 65.59%;
    --popover: 217 39% 4%;
    --popover-foreground: 0 0% 100%;
    --card: 217 38.05% 7.31%;
    --card-foreground: 0 0% 100%;
    --border: 217 3% 15%;
    --input: 217 3% 15%;
    --primary: 217 87% 47%;
    --primary-foreground: 217 39.79% 94.89%;
    --secondary: 217 11.38% 20.49%;
    --secondary-foreground: 217 22.16% 77.49%;
    --accent: 217 27.97% 14.49%;
    --accent-foreground: 217 18% 80%;
    --destructive: 2 95% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 217 87% 15%;
    --chart-1: 217 87% 23%;
    --chart-2: 214 39% 15%;
    --chart-3: 202 65% 45%;
    --chart-4: 217 18% 11%;
    --chart-5: 217 90% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
